<!DOCTYPE html>

<!-- CITE http://jasny.github.io/bootstrap/javascript/#fileinput-examples -->


<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/jasny-bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jasny-bootstrap.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Demo</a>
        </div>
       <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse --> 
      </div>
    </div>

  <div class="container-fluid">
    <div class="text-center">
      <h1>Results</h1>
      <!--<p>Select your image file and upload</p> -->
    </div>
  </div>

  <div class="container">
  	<div class="text-center">
  		{% for tup in searchResults %}
  		<a href="http://{{ tup[3] }}/img?id={{ tup[1] }}">
  		  <img src="http://{{ tup[3] }}/img?id={{ tup[1] }}&mode=snippet">
  		</a>
  		{% end %}
  	</div>
  </div>

</div>


</body>
</html>
